 <!-- Formulario -->
 <form #registerForm="ngForm" (ngSubmit)="registrarse()">
    <div class="formulariopadre">
        <h1>Books</h1>
            <div class="formulario">
                <div class="form-group">
                    <label for="nombre">Nombre:</label>
                    <input type="text" name="nombre" id="nombre" class="form-control" [(ngModel)]="usuario.nombre"><br>
                </div>
                <div class="form-group">
                    <label for="apellido">Apellido:</label>
                    <input type="text" name="apellidos" id="apellido" class="form-control" [(ngModel)]="usuario.apellidos"><br>
                </div>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="text" name="correo" id="email" class="form-control" [(ngModel)]="usuario.correo"><br>
                </div>
                <div class="form-group">
                    <label for="url">Url:</label>
                    <input type="text" name="url" id="url" class="form-control" [(ngModel)]="usuario.foto"><br>
                </div> 
                <div class="form-group">
                    <label for="contraseña">Contraseña:</label>
                    <input type="text" name="contraseña" id="contraseña" class="form-control" [(ngModel)]="usuario.password"><br>
                </div>
                <div class="form-group">
                    <label for="recontra">Repetir constraseña:</label>
                    <input type="text" name="repetir Contraseña" id="recontra" class="form-control" [(ngModel)]="repetirPassword"><br>
                </div> 
                <div class="form-group">   
                    <button class="formu">Registrarse</button>
                </div>  

            </div>
    </div>
</form>