 <!-- Formulario -->
 <form>
    <div class="formulariopadre">
        <h1>Books</h1>
            <div class="formulario">
                <label for="nombre">Nombre:</label>
                <input type="text" placeholder="Nombre" id="nombre" class="formu"><br>
                <label for="apellido">Apellido:</label>
                <input type="number" placeholder="Apellido" id="apellido" class="formu"><br>
                <label for="email">Email:</label>
                <input type="text" placeholder="Email" id="email" class="formu"><br>
                <label for="url">Url:</label>
                <input type="text" placeholder="Url" id="url" class="formu"><br>
                <label for="contraseña">Contraseña:</label>
                <input type="text" placeholder="Contraseña" id="contraseña" class="formu"><br>
                <label for="recontra">Repetir constraseña:</label>
                <input type="text" placeholder="Repetir Contraseña" id="recontra" class="formu"><br>
                
                <button type="button" onclick="" class="formu">Mostrar</button>

            </div>
    </div>
</form>