.padre{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 99vw;
    background-image: url("https://www.esstudioediciones.com/blog/los-libros-en-espanol-mas-vendidos-de-la-historia.jpg");
    background-size: cover;
    background-position: center;
}


