<div class="padre">
    <!-- Buscador -->
    <div class="buscar">
        <form class="">
            <input class="form-control me-2" type="number" placeholder="Search" aria-label="Search" #idusuario>
            <button class="btn btn-outline-success" on-click="condicional(idusuario)" type="button">Search</button>
        </form>
    </div>
<!-- <div class="cardPadre d-flex" *ngIf="this.libros.length < 1; else elseTemplate"> -->
    <ng-container *ngFor="let libro of libros; let even=even"> 

    <app-card [librosPadre]="libro" (eventoLibro)="borrar($event)" [posicionEven]="even"></app-card>
    <!-- <app-card (eventoLibro)="($event)"></app-card> -->
    </ng-container> 
<!-- </div> -->
    <ng-template class="noLibros" #elseTemplate>
        No hay libros
    </ng-template>
</div>
