<div class="padre">
     <!-- Formulario -->
    <form>
        <div class="formulariopadre">
            <h1>Añadir Libros</h1>
                <div class="formulario">
                    <label for="idlibro">Id Libro:</label>
                    <input type="number" placeholder="Id Libro" id="idlibro" class="formu" #input1><br>
                    <label for="idusuario">Id Usuario:</label>
                    <input type="number" placeholder="Id Usuario" id="idusuario" class="formu" #input2><br>
                    <label for="titulo">Título:</label>
                    <input type="text" placeholder="Título" id="tutulo" class="formu" #input3><br>
                    <label for="tipolibro">Tipo de libro:</label>
                    <input type="text" placeholder="Tipo de Libro" id="tipolibro" class="formu" #input4><br>
                    <label for="autor">Autor:</label>
                    <input type="text" placeholder="Autor" id="autor" class="formu" #input5><br>
                    <label for="precio">Precio:</label>
                    <input type="number" placeholder="Precio" id="precio" class="formu" #input6><br>
                    <label for="photo">Photo:</label>
                    <input type="text" placeholder="Photo" id="photo" class="formu" #input7><br>
                   
                    <button type="button" class="formu" on-click="add(input1,input2,input3,input4,input5,input6,input7)">Mostrar</button>

                </div>
        </div>
    </form>
</div>

