 <!-- Formulario -->
 <form #loginForm="ngForm" (ngSubmit)="iniciarSesion()">
    <div class="formulariopadre">
        <h1>Iniciar Sesión</h1>
            <div class="formulario">
                <div class="form-group">
                    <label for="correo">Correo:</label>
                    <input type="text" name="correo" id="correo" class="form-control" [(ngModel)]="usuario.correo"><br>
                </div>
                <div class="form-group">
                    <label for="contraseña">Contraseña:</label>
                    <input type="text" name="password" id="contraseña" class="form-control" [(ngModel)]="usuario.password"><br>
                </div>
                <div class="form-group">
                    <button class="formu">Iniciar Sesión</button>
                </div>
            </div>
    </div>
</form>
