 <!-- Formulario -->
 <form>
    <div class="formulariopadre">
        <h1>Iniciar Sesión</h1>
            <div class="formulario">
                <label for="correo">Correo:</label>
                <input type="text" placeholder="Correo" id="correo" class="formu" #input1><br>
                <label for="contraseña">Contraseña:</label>
                <input type="text" placeholder="Contraseña" id="contraseña" class="formu" #input2><br>
                
                <button type="button" on-click="iniciarSesion(input1,input2)" class="formu">Iniciar Sesión</button>
            </div>
    </div>
</form>
