*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.padre{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 99vw;
    
}
.padreRouter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 80%; */
}
footer{
    margin-bottom: 0cm;
    width: 100%;

}